# Dependencies
node_modules/
test-results/
playwright-report/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Production
build/
dist/

# SQLite Database
*.db
*.db-journal
prisma/*.db
prisma/*.db-journal

# Environment variables & examples
.env
.env*
!.env.example

# Internal specifications & docs
AI_RULES.md
design.md
Implementation_Plan.md
PRD.md

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE & OS
.DS_Store
*.pem
.vscode/
.idea/
.test-data/
*.tsbuildinfo
.vercel
